{% extends "layout.njk" %}

{% block title %}
        <title>Home</title>
{% endblock %}

    </head>
    <body>

        <div class="content">

            {% block menu%}
            <nav>
                <div id="menu">
                    <img src="./assets/logo.png" alt="Logo" id="logo">
                    <a href="./about.html" id="sobre">Sobre</a>
                    <a href="./revenue.html" id="receitas">Receitas</a>
                </div>
            </nav>
            {% endblock%}

            {% block content %}
            <header>
                <div id="text-header">
                    <h1>
                        <strong>As melhores receitas</strong>
                    </h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
                    <img src="./assets/chef.png" alt="chef" id="chef">
                </div>
            </header>

            <div id="title-image">
                <h1>Mais acessadas</h1>
            </div>
            <div class="info-pizzas">

            {% for item in items %}    
                <div>
                    <img src="{{ item.image }}" alt="Foto- {{item.title}}" class="img">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.author }}</p>
                </div>
            {% endfor %}

            </div>
            {% endblock %}

        </div>
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>

        <script src="scripts.js"></script>