{% extends "layout.njk" %}

{% block title %}
        <title>Home</title>
{% endblock %}

    </head>
    <body>

        <div class="content">

            {% block menu%}
            <nav>
                <div id="menu">
                    <img src="./assets/logo.png" alt="Logo" id="logo">
                    <a href="./about.html" id="sobre">Sobre</a>
                    <a href="./revenue.html" id="receitas">Receitas</a>
                </div>
            </nav>
            {% endblock%}

            {% block content %}
            <header>
                <div id="text-header">
                    <h1>
                        <strong>As melhores receitas</strong>
                    </h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
                    <img src="{{ infoIndex.avatar_chef }}" alt="chef" id="chef">
                </div>
            </header>

            <div id="title-image">
                <h1>{{ infoIndex.title_more }}</h1>
            </div>
            <div class="info-pizzas">
                
                {% for revenue in infoIndex.revenues%}
                <div>
                    <img src="{{ revenue.img }}" alt="Foto-{{revenue.title}}" class="img">
                    <h2>{{ revenue.title }}</h2>
                    <p>{{ revenue.subtitle }}</p>
                </div>
                {% endfor %}               
            </div>
            {% endblock %}

        </div>
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>

        <script src="scripts.js"></script>