{% extends "layout.njk" %}

{% block title %}
        <title>Home</title>
{% endblock %}

    </head>
    <body>

        <div class="content">

            {% block menu%}
            <nav>
                <div id="menu">
                    <img src="./assets/logo.png" alt="Logo" id="logo">
                    <a href="./about.html" id="sobre">Sobre</a>
                    <a href="./revenue.html" id="receitas">Receitas</a>
                </div>
            </nav>
            {% endblock%}

            {% block content %}
            <header>
                <div id="text-header">
                    <h1>
                        <strong>As melhores receitas</strong>
                    </h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
                    <img src="./assets/chef.png" alt="chef" id="chef">
                </div>
            </header>

            <div id="title-image">
                <h1>Mais acessadas</h1>
            </div>
            <div class="info-pizzas">
                <div>
                    <img src="./assets/burger.png" alt="Foto-Burger" class="img">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                </div>
                <div>
                    <img src="./assets/pizza.png" alt="Foto-Pizza" class="img">
                    <h2>Pizza 4 estações</h2>
                    <p>por Fabiana Melo</p>
                </div>
                <div>
                    <img src="./assets/espaguete.png" alt="Foto-Espaguete" class="img">
                    <h2>Triplo bacon burger</h2>
                    <p>por Júlia Kinoto</p>
                </div>
                <div>
                    <img src="./assets/lasanha.png" alt="Foto-Lasanha" class="img">
                    <h2>Lasanha mac n' cheese</h2>
                    <p>por Juliano Vieira</p>
                </div>
                <div>
                    <img src="./assets/doce.png" alt="Foto-Doce" class="img">
                    <h2>Docinhos pão-do-céu</h2>
                    <p>por Ricardo Golvea</p>
                </div>
                <div>
                    <img src="./assets/asinhas.png" alt="Foto-Asinhas" class="img">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <p>por Vania Steroski</p>
                </div>
            </div>
            {% endblock %}

        </div>
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>

        <script src="scripts.js"></script>