{% extends "layout.njk" %}

{% block title%}
    <title>List Revenue</title>
{% endblock %}

<div class="content">

    {% block menu%}
    <nav>
        <div id="menu">
            <img src="./assets/logo.png" alt="Logo" id="logo">
            <a href="./about.html" id="sobre">Sobre</a>
            <a href="./revenue.html" id="receitas">Receitas</a>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <section class="info-pizzas">
        
        {% for item in items%}
        <div class="card" id="#">
            <div class="card_image">
                <img src="{{ item.image }}" alt="Foto" class="img">
            </div>
            <div class="card_title">
                <h2>Teste</h2>
            </div>
            <div class="card_subtitle">
                <p>Teste</p>
            </div>
            <div class="card_revenue">
                <h2>Teste</h2>
                <p>Teste</p>
            </div>
            <div class="card_prepared">
                <h2>Teste</h2>
                <p>Teste</p>
            </div>
            <div class="card_info">
                <h2>Teste</h2>
                <p>Teste</p>
            </div>
        </div>        
        {% endfor %}

    </section>
    {% endblock %}

</div>

<footer>
<p>Todos direitos reservados, receitas Foodfy</p>
</footer>

<script src="scripts.js"></script>
