{% extends "layout.njk" %}

{% block title%}
    <title>List Revenue</title>
{% endblock %}

<div class="content">

    {% block menu%}
    <nav>
        <div id="menu">
            <img src="./assets/logo.png" alt="Logo" id="logo">
            <a href="./about.html" id="sobre">Sobre</a>
            <a href="./revenue.html" id="receitas">Receitas</a>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <section class="info-pizza">

        <div class="card" id="#">
            <div class="card_image">
                <img src="{{ item.image }}" alt="Foto" class="img-list">
            </div>
            <div class="card_title">
                <h2>{{ item.title }}</h2>
            </div>
            <div class="card_subtitle">
                <p>{{ item.author }}</p>
            </div>
            <div class="card_revenue">
                <div class="title"><h2>Ingredientes</h2> <button class="hiden">Esconder</button></div>

                <ul class="hiden-ingredients">
                    {% for ingredient in item.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>                
                
            </div>
            <div class="card_prepared">
                <div class="title"><h2>Modo de Preparo</h2> <button class="show">Mostrar</button></div> 
                <p class="hiden-prepare display">{{ item.preparation }}</p>
            </div>
            <div class="card_info">
                <div class="title"><h2>Informações Adicionais</h2> <button class="hiden-info">Esconder</button></div> 
                <p class="hiden-info">{{ item.information }}</p>
            </div>
        </div>       

    </section>
</div>

<script src="scripts.js"></script>

{% endblock %}