/*Configurações do Header*/
header {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
}

/* Imagens */
.info-pizzas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.info-pizzas h2 {
    font-size: 18px;
    margin-top: 20px;
}

.info-pizzas p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 20px;
}

.img {
    height: 140px;
    width: 300px;
    border-radius: 15px;    
    cursor: pointer;
}

/*== Modal ==*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden; /*Visibilidade escondido*/
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20vh auto;/*Alinhamento: 5vh(visão da altura) no topo e embaixo, e automatico nas laterais*/
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.modal #close {
    color: #999999;
    position: absolute;
    margin: 54% 40% 2.7% 20.1%;
    right: 8px; 
    top: 8px;
    cursor: pointer 
}

/*=== MODAL.ACTIVE===*/

.modal-overlay.active {
    opacity: 1; /*Quando tiver o modal ativado*/
    visibility: visible;
}

.modal-content img {
    margin-top: 2.7%;
    margin-left: 5.1%;
    width: 600px;
    height: 230px;
    border-radius: 15px;
}

#nome_receita {
    margin-top: 20px;
    font-size: 24px;;
    color: #111111;
    text-align: center;
    font-family: "Roboto";
    font-weight: 'regular';
}

#chef_receita {
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    color: #777777;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-weight: 'regular';
}

/*== Footer ==*/
footer {
    background-color: #EEEEEE;
    width: auto;
    height: 63px;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 23px;
}