@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #549bb893;
    --secundary-color: #ace42ae7;
    --accent-color: #504B43;
    --titles-color: #257a13d8;
}

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: var(--titles-color);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--titles-color);
}

.links a:hover {
    color: var(--accent-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
}

/*== CARD ==*/
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 2px 4px 8px -4px rgba(0,0,0,0.9);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: var(--titles-color);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--titles-color)
}

.details .item span {
    padding: 8px 16px;
    background-color: var();
}