{# Campo do Professor #}

<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://"  value="{{ teacher.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Instrutor"  value="{{ teacher.name }}">
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="select">
            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="type_class" 
                value="Presencial" 
                {% if teacher.type_class == 'Presencial' %}
                    checked
                {% endif %}>
                Presencial
        </span>
        <span>
            <input 
                type="radio" 
                name="type_class" 
                value="À distância" 
                {% if teacher.type_class == 'À distância' %}
                    checked
                {% endif %}>
                À Distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de Atuação / Tipo de Instrumentos</div>
    <div>
        <input type="text" name="instruments" placeholder="Digite e separe por vírgula" value="{{ teacher.instruments }}">
    </div>
</div>

<button type="submit">Salvar</button>