{# Campo do Professor #}

<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://">
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Instrutor" value="{{ teachers.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="birth">
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        <select name="select">
            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
            <option value="Mestrado">Mestrado</option>
            <option value="Doutorado">Doutorado</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span><input type="radio" name="type_class" value="Presencial" checked="checked">
            Presencial</span>
        <span><input type="radio" name="type_class" value="À distância">
            À Distância</span>
    </div>
</div>

<div class="item">
    <div>Área de Atuação / Tipo de Instrumentos</div>
    <div>
        <input type="text" name="instruments" placeholder="Digite e separe por vírgula">
    </div>
</div>

<button type="submit">Salvar</button>