{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.birth }}</div>
            </div>

            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>{{ teacher.select }}</div>
            </div>

            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{ "Presencial" if teacher.type_class == "P" else "À distância" }}</div>
            </div>

            <div class="item">
                <div>Instrumentos</div>
                <div>
                    {% for instrument in teacher.instruments %}
                        <span>{{ instrument }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>
            

        </section>

    </div>

{% endblock %}