/*Configurações do Header*/
#about {
    width: 940px;
    height: 280px;
}

#about h1 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    width: 940px;
    margin-bottom: 1.8%;
    margin-top: .6%;
}

#about p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* Footer */
footer {
    background-color: #EEEEEE;
    width: auto;
    height: 63px;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 23px;
}