@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

/*Configurações Gerais*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    background-color: white;
}

.content { 
    margin: 0 auto;
    width: 940px;
}

a {
    text-decoration: none;
    color: #111111;
}

#logo {
    margin-left: -30px;
}

nav #menu {
    display: flex;
    padding: 30px;
    color: black;
}

#sobre {
    margin-left: 122.4px;
    
}

#receitas {
    margin-left: 30px;
}