@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #F1EFFF;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    text-align: center;
}

header a {
    padding: 30px;
    color: #0B1152;
    text-decoration: none;
}

header a:hover {
    color: #52CD7F;
    transition: 200ms;
}

.container {
    text-align: center;
    padding: 32px;
}

.container img {
    border-radius: 50%;
    border: 3px solid #52CD7F;
}

.container h1 {
    margin-top: 32px;
    font-size: 35px;
    color: #0B1152;
}

.container h2, p {
    padding: 5px;
    color: #0B1152;
}