@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #E8F8F6;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    text-align: center;
}

header a {
    padding: 30px;
    color: #0B1152;
    text-decoration: none;
}

header a:hover {
    color: #52CD7F;
    transition: 200ms;
}

.container {
    text-align: center;
    padding: 32px;
}

