@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-bluestrong: #0B1152;
    --color-green: #52CD7F;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    /*background-color: #F1EFFF;*/
    background-color: #140a0a6b;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    background-color: #7A60D1;
    text-align: center;
    border-bottom: 1px solid var(--color-bluestrong);
}

#link-header a {
    color: white;
}

#link-header a:hover {
    color: var(--color-green);
    transition: 200ms;
}

.links a {
    padding: 30px;
    color: var(--color-bluestrong);
    text-decoration: none;
    margin: 0 16px;
}

.links a:hover {
    color: var(--color-green);
    transition: 205ms;
}

.container {
    text-align: center;
    padding: 32px;
}

.container img {
    border-radius: 50%;
    border: 3px solid var(--color-green);
}

.container h1 {
    margin-top: 32px;
    font-size: 35px;
    color: var(--color-bluestrong);
}

.container h2, p {
    padding: 5px;
    color: var(--color-bluestrong);   
}

#list {
    list-style: none;
    text-align: center;
}

#footer {
    text-align: center;
}

#footer a {
    border-bottom: 2px solid var(--color-green);
    padding: 5px;
}

/*=== Cards from content.html===*/
.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 66px;
}

/*.cards :hover {
    border: 3px solid blue;
}*/

.card {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 66px;
}

/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.maxime-modal {
    color: black;
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*.modal .close-modal :hover {
    color: blue;

}*/

/*===MODAL.ACTIVE==*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%
}

/*==MAXIME-MODAL==*/

.maximize {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
