@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

/*Configurações Gerais*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    width: 940px;
    background-color: white;
}

a {
    text-decoration: none;
    color: #111111;
}

nav #menu {
    display: flex;
    padding: 30px;
    color: black;
}

#sobre {
    margin-left: 122.4px;
    
}

#receitas {
    margin-left: 30px;
}

/*Configurações do Header*/
header {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
}

#chef {
    position: absolute;
    margin: 66px 100px 0px 624px;
}

#text-header {
    display: flex;
    flex-wrap: wrap;      
}

#text-header h1 {
    margin: 117px 575px 211px 60px;
    font-size: 32px;
}

#text-header p {
    margin: -200px 564px 117px 60px;
    font-size: 18px;
}

/* Imagens */
#title-image h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}