<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>Desafio1(FrontEnd)-LaunchBase</title>

    </head>

    <body>

        <header id="link-header" class="links">

            <div id="headertop">
                <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt="LogoRocketseat" id="logo">
                <a href="index.html">
                    <strong>Home</strong>
                </a>
                <a href="content.html">
                    <strong>Conteúdos</strong>
                </a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">
                    <strong>Comunidade</strong>
                </a>
                <a href="mailto:oi@rocketseat.com.br">
                    <span class="material-icons" style="position: absolute; margin-top: -4px;">
                        email
                    </span>
                </a>
                <a href="tel:+5547992078767">
                    <span class="material-icons" style="position: absolute; margin-top: -4px;">
                        local_phone
                    </span>
                </a>
            </div>

        </header>

        <div class="container">
            <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="logo-rocketseat">

            <h1>
                <strong>Rocketseat</strong>
            </h1>
            <h2>Plataforma de educação em tecnologia</h2>
            <p>
                <strong>Tecnologias:</strong>
                <ul id="list">
                    <li>JavaScript</li>
                    <li>React Js</li>
                    <li>React Native</li>
                    <li>Node Js</li>
                </ul>
            </p>
        </div>

        <div id="footer" class="links">
            <a href="https://github.com/Rocketseat" target="_blank"><img src="./img/github-logo.svg" alt="logo github" style="height: 20px;"></a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt" target="_blank"><img src="https://rocketseat.com.br/static/images/icons/instagram.svg" alt=""></a>
            <a href="https://pt-br.facebook.com/rocketseat/" target="_blank"><img src="https://rocketseat.com.br/static/images/icons/facebook.svg" alt=""></a>
        </div>

    </body>
</html>