{% extends "layout.njk" %}

{% block head %}

    <title>Desafio1(FrontEnd)-LaunchBase</title>

{% endblock %}

{% block content %}

    <div class="container">
        <img src="{{ index.avatar_url }}" alt="logo-rocketseat">

        <h1>
            <strong>{{ index.name }}</strong>
        </h1>
        <h2>{{ index.title }}</h2>
        <p>
        
        {% for tecnologie in index.tecnologies %}
            <strong>Tecnologias:</strong>
            <ul id="list">
                <li>{{ tecnologie.technologie0 }}</li>
                <li>{{ tecnologie.technologie1 }}</li>
                <li>{{ tecnologie.technologie2 }}</li>
                <li>{{ tecnologie.technologie3 }}</li>
            </ul>
        {% endfor %}
        </p>
    </div>

    <div id="footer" class="links">

        {% for link in index.links %}
        <a href="{{ link. url}}" target="_blank"><img src="{{ link.img }}" alt="logo {{ link.name }}" style="height: 20px;"></a>
        {% endfor %}
    </div>

{% endblock %}