{% extends "layout.njk" %}

{% block head %}

    <title>Page Not-Found</title>

{% endblock %}

{% block content %}

    <div class="container">
        <img src="https://images.unsplash.com/photo-1564104763400-f1cd23302ef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="height: 180px; width: 180px" alt="erro-404-logo">

        <h1>
            <strong>ERRO 404</strong>
        </h1>
        <h2>Ei dev, essa página não pode ser encontrada</h2>
        <h3 style="color: white">Se quiser voltar para a página inicial, é só <a href="/" style="text-decoration: none; color: #f0f0f0">clicar aqui.</a></h3>
    </div>

    <div id="footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank"><img src="./img/github-logo.svg" alt="logo github" style="height: 20px;"></a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt" target="_blank"><img src="https://rocketseat.com.br/static/images/icons/instagram.svg" alt=""></a>
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank"><img src="https://rocketseat.com.br/static/images/icons/facebook.svg" alt=""></a>
    </div>

{% endblock %}