@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-bluestrong: white;
    --color-green: #0be3ff;
    --color-rocket: #7A60D1;
    --color-orange: #FD951F;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    /*background-color: #F1EFFF;*/
    background-image: url('./img/background.png');    
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    background-color: #131217;
    text-align: center;
    border-bottom: 1px solid var(--color-bluestrong);
}

#logo {
    position: absolute;
    margin-left: -180px;
    margin-top: -10px;
}

#back {
    position: absolute;
    margin-left: -27px;
    margin-top: -2px;
}
#headertop {
    margin-left: 180px;
}

#link-header a {
    color: white;
}

#link-header a:hover {
    color: var(--color-green);
    transition: 200ms;
}

.links a {
    padding: 30px;
    color: var(--color-bluestrong);
    text-decoration: none;
    margin: 0 16px;
}

.links a:hover {
    color: var(--color-green);
    transition: 205ms;
}

.container {
    text-align: center;
    padding: 32px;
}

.container img {
    border-radius: 50%;
    border: 3px solid var(--color-green);
}

.container h1 {
    margin-top: 32px;
    font-size: 35px;
    color: var(--color-bluestrong);
}

.container h2, p {
    padding: 5px;
    color: var(--color-bluestrong);   
}

#list {
    list-style: none;
    text-align: center;
    color: white;
    opacity: 80%;
}

#footer {
    text-align: center;
}

#footer a {
    border-bottom: 2px solid var(--color-green);
    padding: 5px;
}

/*=== Cards from content.html===*/
.cards {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 66px;
}

.card {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #131217;
    opacity: 55%;
    text-align: center;
    cursor: pointer;
    padding: 30px;
}

#starter:hover {
    border: 2px solid var(--color-rocket);
    transition: 100ms;
    opacity: 100%;
}

#starter p {
    border: 2px solid var(--color-rocket);
    border-radius: 8px;
}

#launchbase:hover {
    border: 2px solid #FD951F;
    transition: 100ms;
    opacity: 100%;
}

#launchbase p {
    border: 2px solid #FD951F;
    border-radius: 8px;
}

#gostack:hover {
    border: 2px solid #04D361;
    transition: 100ms;
    opacity: 100%;
}

#gostack p {
    border: 2px solid #04D361;
    border-radius: 8px;
}

.card__image-container {
    margin-top: 60px;

}

.subtitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;    
    margin-top: 80px;
    padding: 10px;
}

#card1 {
    border-radius: 50%;
    border: 2.3px solid var(--color-rocket);
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 8px;
    color: var(--color-rocket);      
}

#card2 {
    border-radius: 50%;
    border: 2.3px solid #FD951F;
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 8px;
    color: #FD951F;      
}

#card3 {
    border-radius: 50%;
    border: 2.3px solid #04D361;
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 8px;
    color: #04D361;      
}

/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    border: 3px solid var(--color-green);
    border-radius: 8px;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.maxime-modal {
    color: var(--color-green);
    position: absolute;
    right: 40px;
    top: 8px;
    cursor: pointer;
}

.modal .close-modal {
    color: var(--color-green);
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*===MODAL.ACTIVE==*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%
}

/*==MAXIME-MODAL==*/

.maximize {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/*==COURSE PAGE ==*/
.course {
    margin: 0 auto;
    max-width: 800px;
}

.card__course-container {
    position: relative;
    padding-top: 62.5%;
}

.card__course-container iframe {
    width: 106.9%;
    height: 100%;
    left: -25px;
    position: absolute;
    top: -23px;
    background-color: white;
    border-radius: 8px;
}
